<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AtlasPeople - find jobs, find software specialist</title>
<meta name="description" content="AtlasPeople - IT recruitment agency, helping to find software specialist all over Europe">
<meta name="author" content="">

    {% load staticfiles %}

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/prettyPhoto.css' %}">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"><i class="fa fa-sun-o"></i> Atlas People<strong></strong></a> </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll">Home</a></li>
        <li><a href="#services-section" class="page-scroll">Services</a></li>
        <li><a href="#about-section" class="page-scroll">About</a></li>
        <li><a href="#contact-section" class="page-scroll">Contact</a></li>
      </ul>
    </div>
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1>Welcome to <strong>Atlas People</strong></h1>
    <p>We connect great minds and great ideas</p>
    <a href="#services-section" class="btn btn-default btn-lg page-scroll">LEARN MORE</a> </div>
</header>

<!-- Services Section -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Our Services</h2>
      <hr>
      <div class="clearfix"></div>
      <p>Want to quickly find a dream job? Or maybe you look for a cool worker? Contact us</p>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-desktop"></i>
        <h4>Head Hunting</h4>
        <p> Our main and delicate service is HeadHunting.
            We are experts in offering this service in many business sectors.
            Through this service, we assure to our client a cost and time saving alternative.</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-gears"></i>
        <h4>Team Work</h4>
        <p>There is a team of experienced people working on the search for candidates. In the process involved both recruiters and IT specialists who create products to increase the speed and quality of the search.</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-rocket"></i>
        <h4>Result Orientation</h4>
        <p>We are goal oriented and we search best candidates for best companies.</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-line-chart"></i>
        <h4>Growth</h4>
        <p>Our main driver is the desire to grow, we are guided by development in all its manifestations</p>
      </div>
    </div>
  </div>
</div>

<!-- About Section -->
<div id="about-section">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Us</h2>
      <hr>
      <div class="clearfix"></div>
      <p>We are helping the best candidates and best companies to find each other.</p>
    </div>
    <div class="row">
      <div class="col-md-6"> <img src="{% static 'img/about.jpg' %}" class="img-responsive"> </div>
      <div class="col-md-6">
        <div class="about-text">
          <h4>Tech people looking for tech people</h4>
          <p>Every recruiter in the team has a technical background and experience in Software development.</p>
          <h4>Automated sourcing</h4>
          <p>We build a tool to make the recruitment process faster, but not less qualitative</p>
          <h4>Result orientation</h4>
          <p>We strive to make our cooperation with clients as comfortable as possible and for each one of them offer a customized approach.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Achievements Section -->
<div id="achievements" class="section dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="achievement-box"> <span class="count">21</span>
          <h4>Happy clients</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="achievement-box"> <span class="count">114</span>
          <h4>Find Candidates</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="achievement-box"> <span class="count">86</span>
          <h4>Get a job</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Contact Us</h2>
      <hr>
      <p>Have a question?</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4"> <i class="fa fa-map-marker"></i>
        <p>Uzhgorod<br>
          Ukraine</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o"></i>
        <p>contact@atlaspeople.org</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone"></i>
        <p> +380 95 887 5994</p>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Leave us a message</h3>
      <form name="sentMessage" method="post" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
    </div>
  </div>
</div>
<div id="social-section">
  <div class="container">
    <div class="social">
      <ul>
{#        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>#}
{#        <li><a href="#"><i class="fa fa-github"></i></a></li>#}
{#        <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
        <li><a href="https://www.linkedin.com/company/atlas-people/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="fnav">
      <p>Copyright &copy; Atlas People.</p>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.counterup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/waypoints.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script>

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>